<% provide(:title, 'Help')%>

<h1>Help</h1>
<p>
	Visit the University of Waterloo's Homepage 
	<a href="http://uwaterloo.ca">University of Waterloo</a>
	To get help on this sample app, see the 
	<a href="http://railstutorial.org/book">Rails Tutorial book</a>
</p>
